body {
	background-color: aqua;
	font-family: 'Slabo 27px', serif;
}

#wrapper {
	align-content: space-between;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.michelle {
	width: 40%;
}

.lorena {
	width: 40%;
}

#taco {
	display: none;
}